
body {
    background-color: lightsalmon;
}

figure {
    width: 500px;
}

img {
    width: 100%;
    border-radius: 10px;
    outline: 2px solid black;
}

h1 {
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    text-align: center;
    outline: 2px solid black;
    border-radius: 50px;
    padding: 10px;
    width: 100px;
}